Repository zhenyulin/py-neetcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, ruff, mypy, pytest

.pre-commit-config.yaml:

# docs: https://pre-commit.com/#usage

default_install_hook_types: [pre-commit, pre-push]

repos:
  - repo: local
    hooks:
      # DOCS: https://pre-commit.com/#creating-new-hooks
      #
      # NOTE: 'language' configs the environment where the entry command would be running
      #        e.g. set it to python only if you are calling a .py script directly
      # NOTE: 'pass_filenames' defaults to true, related commit files would be pass to 'entry'
      # NOTE: 'stages': https://pre-commit.com/#supported-git-hooks
      # NOTE: 'types' and 'files' specify the types or files the hook would be tracking
      - id: poetry
        name: reconcile poetry lockfile
        language: system
        pass_filenames: false
        files: poetry.lock
        entry: poetry lock --no-update
        stages: [pre-commit]
        verbose: true

      - id: ruff
        name: lint and format staged python files
        language: system
        types: [python]
        entry: poetry run ruff
        args: ["--fix"]
        stages: [pre-commit]
        verbose: true

      - id: mypy
        name: static type check committed python files
        language: system
        types: [python]
        entry: poetry run mypy
        args: ["--install-types", "--non-interactive"]
        stages: [pre-push]
        verbose: true

      - id: pytest
        name: run all python unit tests
        language: system
        pass_filenames: false
        types: [python]
        entry: poetry run pytest tests/ -vv -s -m "not benchmark and not online"
        stages: [pre-push]
        verbose: true

chore(config): update
  .gitignore
  .python-version
  .vscode/extensions.json
  .vscode/settings.json
  justfile
Due: none

chore(config): sync
  .coveragerc
  .editorconfig
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  cspell.config.yaml
  justfile
  mypy.ini
  poetry.lock
  poetry.toml
  pyproject.toml
  pytest.ini
  ruff.toml
  src/tree/search_rightmost_nodes.py
  tests/tree/test_search_rightest_nodes.py
  tests/tree/test_search_rightmost_nodes.py
  uv.lock
Due: poetry, ruff, mypy, pytest

refactor: remove excessive init
  src/array/__init__.py
  src/array_2d/__init__.py
  src/bit/__init__.py
  src/geometry/__init__.py
  src/graph/__init__.py
  src/int/__init__.py
  src/linked_list/__init__.py
  src/string/__init__.py
  src/structure/__init__.py
  src/tree/__init__.py
  tests/array/__init__.py
  tests/array_2d/__init__.py
  tests/bit/__init__.py
  tests/geometry/__init__.py
  tests/graph/__init__.py
  tests/int/__init__.py
  tests/linked_list/__init__.py
  tests/string/__init__.py
  tests/structure/__init__.py
  tests/tree/__init__.py
Due: ruff, mypy, pytest

chore: update cspell config
  cspell.config.yaml
  justfile
  mypy.ini
  pyproject.toml
  ruff.toml
  uv.lock
Due: none

chore(config): add test benchmarks
  justfile
  src/string/group_by_anagram.py
  tests/string/test_group_by_anagram.py
Due: ruff, mypy, pytest

chore(config): cython comparison with memray
  .gitignore
  .vscode/settings.json
  cspell.config.yaml
  justfile
  pyproject.toml
  setup.py
  src/string/group_by_anagram_c.pyx
  tests/string/test_group_by_anagram.py
  uv.lock
Due: ruff, mypy, pytest

chore(config): add pyo3 rust for benchmark
  .gitignore
  cspell.config.yaml
  justfile
  pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/string/group_anagrams.rs
  rust/src/string/mod.rs
  tests/string/test_group_by_anagram.py
  uv.lock
Due: ruff, mypy, pytest

fix(string/group_anagram): optimise rust version
  .vscode/settings.json
  cspell.config.yaml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/string/group_anagrams.rs
  tests/string/test_group_by_anagram.py
Due: ruff, mypy, pytest

chore(config): isolate rust build pyproject.toml
  pyproject.toml
  rust/pyproject.toml
  rust/src/string/group_anagrams.rs
Due: none

chore(config): split cython files out to /cython
  .gitignore
  cspell.config.yaml
  cython/cython_lib/string/group_by_anagram.pyx
  cython/pyproject.toml
  cython/setup.py
  justfile
  setup.py
  tests/string/test_group_by_anagram.py
  uv.lock
Due: ruff, mypy, pytest

chore(config): add necessary init files for cython
  cython/cython_lib/__init__.py
  cython/cython_lib/string/__init__.py
Due: ruff, mypy, pytest

chore(config): fix ruff isort
  ruff.toml
Due: none

refactor(dir): simplify name as cy
  cython/cy/__init__.py
  cython/cy/string/group_by_anagram.pyx
  cython/cython_lib/string/__init__.py
  cython/pyproject.toml
  cython/setup.py
  ruff.toml
  tests/string/test_group_by_anagram.py
Due: ruff, mypy, pytest

refactor(dir): rename
  cython/cy/string/__init__.py
  ruff.toml
Due: ruff, mypy, pytest

chore(config): build cython rust at install
  justfile
Due: none

chore(config): type-check only staged files pre-push
  .pre-commit-config.yaml
  uv.lock
Due: none

refactor: fix lint and type check errors
  cspell.config.yaml
  src/tree/tree_node.py
  tests/string/test_group_by_anagram.py
Due: ruff, mypy, pytest

refactor: fix test errors
  ruff.toml
  tests/array/test_circular_index_cover_cost.py
  tests/array/test_combination_count_sum_to_k.py
  tests/array/test_combination_fewest_elements_sum_to.py
Due: ruff, mypy, pytest

refactor: fix test errors
  pytest.ini
  ruff.toml
  src/linked_list/add_two_number.py
  src/linked_list/list_node.py
  src/tree/tree_node.py
  tests/array_2d/__init__.py
  tests/linked_list/test_add_two_number.py
  tests/string/test_group_by_anagram.py
Due: ruff, mypy, pytest

chore(config): touchup
  .gitattributes
  mypy.ini
Due: none

fix(rust/group_anagrams): upgrade pyo3 to 0.25 and cleanup code
  .vscode/settings.json
  cspell.config.yaml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/string/group_anagrams.rs
Due: none

refactor(rust/group_anagrams)
  .vscode/settings.json
  rust/Cargo.toml
  rust/src/string/group_anagrams.rs
Due: none

refactor(cython): cleanup group_anagrams
  .vscode/settings.json
  cython/cy/string/group_by_anagram.pyx
  cython/setup.py
  justfile
  pyproject.toml
  src/string/group_by_anagram.py
  tests/string/test_group_by_anagram.py
  uv.lock
Due: ruff, mypy, pytest

docs(string/group_by_anagram): benchmark interpretation
  src/string/group_by_anagram.py
Due: ruff, mypy, pytest

refactor(string/group_anagrams): retouch
  src/string/group_by_anagram.py
Due: ruff, mypy, pytest

docs(string/group_anagrams): benchmark note
  .gitignore
  src/string/group_by_anagram.py
Due: ruff, mypy, pytest

docs: touch
  src/string/group_by_anagram.py
Due: ruff, mypy, pytest

feat(rust/string): longest _palindrome
  ruff.toml
  rust/src/lib.rs
  rust/src/string/mod.rs
  rust/src/string/substring_longest_palindrome.rs
  src/string/substring_longest_palindromic.py
  tests/string/test_substring_longest_palindromic.py
Due: ruff, mypy, pytest

feat(rust/string): split count equal num char
  rust/src/lib.rs
  rust/src/string/mod.rs
  rust/src/string/split_count_equal_num_char.rs
  src/string/splits_count_equal_num_char.py
  tests/string/test_group_by_anagram.py
  tests/string/test_splits_count_equal_num_char.py
Due: ruff, mypy, pytest

feat(rust/string): validate_parenthesis
  README.md
  rust/src/lib.rs
  rust/src/string/combination_validate_parentheses.rs
  rust/src/string/mod.rs
  src/string/combination_validate_parentheses.py
  tests/string/test_combination_validate_parentheses.py
Due: ruff, mypy, pytest

chore(config): rust mod setup
  rust/src/lib.rs
  rust/src/string/mod.rs
Due: none

feat(rust/string): substring longest char replacement
  rust/src/string/mod.rs
  rust/src/string/substring_longest_char_replacement.rs
  src/string/substring_longest_char_replacement.py
  tests/string/test_substring_longest_char_replacement.py
Due: ruff, mypy, pytest

feat(rust/string): substring longest unique char
  rust/Cargo.toml
  rust/src/string/mod.rs
  rust/src/string/substring_longest_without_repeating_characters.rs
  src/string/substring_longest_without_repeating_characters.py
  tests/string/test_substring_longest_without_repeating_characters.py
Due: ruff, mypy, pytest

feat(rust/string): substring check anagram
  rust/src/string/mod.rs
  rust/src/string/substring_check_target_anagram.rs
  src/string/substring_check_target_anagram.py
  tests/string/test_substring_check_target_anagram.py
Due: ruff, mypy, pytest

chore(config): test-watch also watches rust build
  justfile
Due: none

feat(rust/string): splits_count_equal unique chars
  rust/src/string/mod.rs
  rust/src/string/splits_count_equal_unique_chars.rs
  src/string/splits_count_equal_unique_chars.py
  tests/string/test_splits_count_equal_unique_chars.py
Due: ruff, mypy, pytest

chore(config): just rust-build-watch
  justfile
Due: none

feat(rust/string): split string unique char
  rust/src/string/mod.rs
  rust/src/string/splits_char_unique_part.rs
  src/string/splits_char_unique_part.py
  tests/string/test_splits_char_unique_part.py
Due: ruff, mypy, pytest

feat(rust/string): ways of decode
  rust/src/string/mod.rs
  rust/src/string/splits_count_by_dict.rs
  src/string/splits_count_by_dict.py
  tests/string/test_splits_count_by_dict.py
Due: ruff, mypy, pytest
