Repository zhenyulin/py-neetcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, lockfile, type-check, pytest

format:
  name: format staged python files
  language: system
  entry: uv run ruff format
  stages:
  - pre-commit
  verbose: true

lint:
  name: lint staged python files
  language: system
  entry: uv run ruff check
  args:
  - --fix
  stages:
  - pre-commit
  verbose: true

lockfile:
  name: reconcile deps lockfile
  language: system
  pass_filenames: false
  entry: uv lock
  stages:
  - pre-commit
  verbose: true

type-check:
  name: type-check staged python files
  language: system
  entry: uv run mypy
  stages:
  - pre-push
  verbose: true

pytest:
  name: run local python unit tests
  language: system
  pass_filenames: false
  entry: just test
  stages:
  - pre-push
  verbose: true

chore(array_2d): sorted matrix search
  rust/src/array_2d/mod.rs
  rust/src/array_2d/sorted_matrix_search.rs
  rust/src/lib.rs
  src/array_2d/sorted_matrix_search.py
  tests/array_2d/test_sorted_matrix_search.py
Due: format, lint, type-check, pytest

feat(array): subgroups fixed size check consecutives
  rust/src/array/mod.rs
  rust/src/array/subgroups_fixed_size_check_consecutive.rs
  src/array/subgroups_fixed_size_check_consecutive.py
  tests/array/test_subgroups_fixed_size_check_consecutive.py
Due: format, lint, type-check, pytest

claude(rust/array): search three indexes su to k
  .claude/settings.local.json
  README.md
  rust/src/array/mod.rs
  rust/src/array/search_three_indexes_sum_to_k.rs
  src/array/search_three_indexes_sum_to_k.py
  tests/array/test_search_three_indexes_sum_to_k.py
Due: format, lint, type-check, pytest

codex(rust/array): combination count sum to k
  rust/src/array/combination_count_sum_to_k.rs
  rust/src/array/mod.rs
  tests/array/test_combination_count_sum_to_k.py
Due: format, lint, type-check, pytest

claude(rust/array): subsequence longest increasing
  README.md
  rust/src/array/mod.rs
  rust/src/array/subsequence_longest_increasing.rs
  src/array/subsequence_longest_increasing.py
  tests/array/test_subsequence_longest_increasing.py
Due: format, lint, type-check, pytest

chore(config): add typing stubs to remove pylance warnings
  pyrightconfig.json
  typings/rust/__init__.pyi
  typings/rust/array.pyi
  typings/rust/array_2d.pyi
  typings/rust/string.pyi
Due: none

fix(rust/string): fix warning
  rust/src/string/split_count_equal_num_char.rs
Due: none

chore(config): claude
  .claude/CLAUDE.md
  .claude/settings.json
  .claude/settings.local.json
Due: none

chore(config): sync
  .claude/settings.local.json
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  justfile
  mypy.ini
  pyproject.toml
  pyrightconfig.json
  uv.lock
Due: lockfile

chore(config): update
  .gitignore
  .pre-commit-config.yaml
  cspell.config.yaml
  justfile
  pytest.ini
  ruff.toml
Due: none

chore(config): cspell config sorting
  cspell.config.yaml
  justfile
Due: none

chore(config): pre-commit
  .pre-commit-config.yaml
Due: none

chore(config): sync
  .config-template
  .gitignore
  .vscode/settings.json
  justfile
  pyrightconfig.json
  uv.lock
Due: none

chore(config): fix
  .gitignore
  justfile
Due: none

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  lockfile: any of: pyproject.toml
  type-check: any of: \.py$
  pytest: any of: \.py$
